.zip-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.instructions {
    font-size: 0.70rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.20rem;
    position: relative;
    width: 40%;
    margin-left: 7rem;
} 

.info-text {
    position: absolute; 
    margin-left: 85px; 
    padding: 3px; 
    font-size: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 5px; 
    white-space: nowrap;
} 

.zip-container .invalid {
    color: red;
    
}